# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Study.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\Study\.idea\.idea.Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
